@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'styleVariables.scss';


body { 
  margin: 0; 
}

#loadTemplate {
  margin-top: 40px;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.product-item {
  margin-bottom: 20px;
  cursor: pointer;

  h6 {
    margin-top: 10px;
  }

  .item-tag {
    color: $color-gray;
    font-size: $f-small;
  }
}

.tag-grey-text {
  color: $color-gray;
  font-size: $f-small;
  margin-bottom: 5px;
}

.big-text {
  font-size: $f-large;
}

.margin-bottom10 {
  margin-bottom: 10px;
}